


<template lang="pug">

	div.page-shop(
		class="block p-5"
	)
		page-header
			| Collections

		collections-grid(
			v-if="collections && collections.edges"
			:collections="collections"
		)

</template>



<script>

	import gql from 'graphql-tag'

	import pageHeader from '@/components/page/page-header.vue'
	import collectionsGrid from '@/components/shop/collections-grid.vue'

	export default {
		name : 'page-shop',
		components : {
			pageHeader,
			collectionsGrid
		},
		head() {
			return {
				title : 'Foto Shop'
			}
		},
		data() {
			return {
				collections : {}
			}
		},
		apollo : {
			collections : {
				query : gql`query GetCollections {
					collections (first:100) {
					    edges {
					     	node {
							    id
								handle
								title
								image {
									id
									originalSrc
								}
							}
						}
					}
				}`
			}
		}
	}

</script>



<style lang="stylus" scoped>

</style>
