


<template lang="pug">

	div.page-content(
		class="block w-full pt-2 pb-6 mx-auto text-gray-700"
	)
		slot

</template>



<script>

	export default {
		name : 'page-content'
	}

</script>



<style lang="stylus" scoped>

	.page-content
		max-width 900px

</style>
