


<template lang="pug">

	h1.page-header(
		class="block w-full pt-2 pb-6 mx-auto text-gray-700 text-4xl text-center"
	)
		slot

</template>



<script>

	export default {
		name : 'page-header'
	}

</script>



<style lang="stylus" scoped>

	.page-header
		max-width 900px

</style>
