


<template lang="pug">

	nuxt-link.collections-grid-item(
		class="w-full px-2 mb-4 bg-white sm:w-1/2 lg:w-1/3 text-gray-600 hover:text-black"
		:to="`/shop/${collection.node.handle}`"
	)
		img.collection-img.block.w-full(
			v-if="collection.node.image"
			:src="collection.node.image.originalSrc"
		)

		div.collection-title(
			class="text-lg md:text-lg text-center"
		) {{ collection.node.title }}

</template>



<script>

	export default {
		name : 'collections-grid-item',
		props : ['collection']
	}

</script>



<style lang="stylus" scoped>

</style>
