


<template lang="pug">

	div.collections-grid(
		class="flex flex-wrap w-full mx-auto"
	)

		collections-grid-item(
			v-for="(collection, index) in collections.edges"
			:key="index"
			:collection="collection"
		)

</template>



<script>

	import collectionsGridItem from '@/components/shop/collections-grid-item.vue'

	export default {
		name : 'collections-grid',
		props : ['collections'],
		components : {
			collectionsGridItem
		}
	}

</script>



<style lang="stylus" scoped>

	.collections-grid
		max-width 900px

</style>
