


<template lang="pug">

	div.products-grid(
		class="flex flex-wrap w-full mx-auto"
	)

		products-grid-item(
			v-for="(product, index) in products.edges"
			:key="index"
			:product="product"
		)

</template>



<script>

	import productsGridItem from '@/components/shop/products-grid-item.vue'

	export default {
		name : 'products-grid',
		props : ['products'],
		components : {
			productsGridItem
		}
	}

</script>



<style lang="stylus" scoped>

	.products-grid
		max-width 900px

</style>
