


<template lang="pug">

	nuxt-link.products-grid-item(
		class="group w-full px-2 mb-4 bg-white sm:w-1/2 lg:w-1/3"
		:to="`/shop/${$route.params.collectionID}/${product.node.handle}`"
	)
		img.product-img(
			class="block w-full"
			v-if="product.node.images.edges[0].node"
			:src="product.node.images.edges[0].node.originalSrc"
		)

		div.product-info(
			class="text-lg md:text-lg text-center"
		)
			div.product-title(
				class="text-gray-700 group-hover:text-black"
			) {{ product.node.title }}

			div.product-price(
				class="text-gray-500 group-hover:text-gray-700"
			) ${{ product.node.priceRange.maxVariantPrice.amount }}

</template>



<script>

	export default {
		name : 'products-grid-item',
		props : ['product']
	}

</script>



<style lang="stylus" scoped>

</style>
