


<template lang="pug">

	nuxt-link.app-logo(
		class="inline-block font-sans font-bold text-white text-4xl"
		to="/"
	) FOTO

</template>



<script>

	export default {
		name : 'app-logo'
	}

</script>



<style lang="stylus" scoped>

</style>
