


<template lang="pug">

	div.app-header(
		class="fixed block w-full py-1 text-center bg-black z-10"
	)
		app-logo
		app-nav

</template>



<script>

	import appLogo from '@/components/app/app-logo.vue'
	import appNav from '@/components/app/app-nav.vue'

	export default {
		name : 'app-header',
		components : {
			appLogo,
			appNav
		}
	}

</script>



<style lang="stylus" scoped>

	.app-header
		height 100px

</style>
