


<template lang="pug">

	div.app-content(
		class="block min-h-screen bg-white"
	)
		slot

</template>



<script>

	export default {
		name : 'app-content'
	}

</script>



<style lang="stylus" scoped>

	.app-content
		padding-top 100px

</style>
