


<template lang="pug">

	div.app-nav-block(
		class="block"
	)

		div.app-nav(
			class="inline-block"
		)

			nuxt-link.app-nav-option(
				class="px-3 font-sans font-bold text-2 text-gray-600 hover:text-gray-300"
				to="/"
				exact
			) HOME

			nuxt-link.app-nav-option(
				class="px-3 font-sans font-bold text-2 text-gray-600 hover:text-gray-300"
				to="/shop"
			) SHOP

			nuxt-link.app-nav-option(
				class="px-3 font-sans font-bold text-2 text-gray-600 hover:text-gray-300"
				to="/contact"
			) CONTACT

</template>



<script>

	export default {
		name : 'app-nav'
	}

</script>



<style lang="stylus" scoped>

	///
	/// Parse error from the vue-stylus loader due to the `hover:`
	/// prefix, classes *must* be declared in the element class attr.
	///
	// .app-nav-option
	// 	@apply px-3 font-sans font-bold text-2 text-gray-600 hover:text-gray-300

	.app-nav-option.nuxt-link-active
		@apply text-gray-200

</style>
