


<template lang="pug">

	div.app-footer(
		class="flex items-center justify-center w-full bg-gray-700"
	)
		div(
			class="text-white"
		) {{ `&copy; ${new Date().getFullYear()} Aaron J Ban. All rights reserved` }}

</template>



<script>

	export default {
		name : 'app-footer'
	}

</script>



<style lang="stylus" scoped>

	.app-footer
		min-height 150px

</style>
