


<template lang="pug">

	div.page-shop-collection(
		class="block p-5"
	)

		page-header
			| {{ collection.title }}

		products-grid(
			v-if="collection.products && collection.products.edges"
			:products="collection.products"
		)

</template>



<script>

	import gql from 'graphql-tag'

	import pageHeader from '@/components/page/page-header.vue'
	import productsGrid from '@/components/shop/products-grid.vue'

	export default {
		name : 'page-shop-collection',
		components : {
			pageHeader,
			productsGrid
		},
		head() {
			return {
				title : `Foto Shop — ${this.collection.title}`,
				description : `${this.collection.description}`
			}
		},
		data() {
			return {
				collection : {
					title : ''
				}
			}
		},
		apollo : {
			collection : {
				query : gql`query GetCollectionByHandle($handle: String!) {
					collectionByHandle(handle: $handle) {
						id
						title
						products(first: 100, reverse: true) {
							edges {
								node {
									id
									handle
									title
									images(first: 1) {
										edges {
											node {
												id
												originalSrc
											}
										}
									}
									description
									descriptionHtml
									priceRange {
										maxVariantPrice {
											amount
										}
										minVariantPrice {
											amount
										}
									}
									tags
								}
							}
						}
					}
				}`,
				variables() {
					return {
						handle : this.$route.params.collectionID
					}
				},
				update : data => data.collectionByHandle
			}
		}
	}

</script>



<style lang="stylus" scoped>

</style>
