


<template lang="pug">

	div.layout-default

		app-header

		app-content
			nuxt

		app-footer

</template>



<script>

	import appHeader from '@/components/app/app-header.vue'
	import appContent from '@/components/app/app-content.vue'
	import appFooter from '@/components/app/app-footer.vue'

	export default {
		name : 'layout-default',
		components : {
			appHeader,
			appContent,
			appFooter
		}
	}

</script>



<style lang="stylus">

	@import '~assets/reset.styl'

</style>

<style lang="stylus" scoped>

</style>
