


<template lang="pug">

	div.page-contact(
		class="block p-5"
	)
		page-header
			| Contact

		page-content.contact-info

			div.contact-body.text-center(
				class="pb-4"
				v-html="contactInfo.body"
			)

			div.contact-phone.text-center.pb-4
				div.font-bold PHONE
				a(
					class="block underline text-gray-600 hover:text-gray-900"
					:href="`tel:${contactInfo.phone}`"
				) {{ contactInfo.phone }}

			div.contact-email.text-center.pb-4
				div.font-bold EMAIL
				a(
					class="block underline text-gray-600 hover:text-gray-900"
					:href="`mailto:${contactInfo.email}`"
					target="_blank"
				) {{ contactInfo.email }}

			div.contact-web.text-center.pb-4
				div.font-bold WWW
				a(
					class="block underline text-gray-600 hover:text-gray-900"
					:href="contactInfo.website"
					target="_blank"
				) {{ contactInfo.website }}


</template>



<script>

	import pageHeader from '@/components/page/page-header.vue'
	import pageContent from '@/components/page/page-content.vue'

	export default {
		name : 'page-contact',
		components : {
			pageHeader,
			pageContent
		},
		head() {
			return {
				title : 'Foto Contact'
			}
		},
		async fetch ({ store, params }) {
			await store.dispatch('contact/getContactInfo')
		},
		computed : {
			contactInfo() {
				return this.$store.state.contact.contactInfo
			}
		}
	}

</script>



<style lang="stylus" scoped>

	.contact-info
		max-width 450px
		padding 0xp 30px 0px 30px

</style>
