


<template lang="pug">

	div.page-home(
		class="block w-full"
	)
		nuxt-link.page-home-hero(
			class="block w-full h-screen"
			:style="`background: url(${hero.keyIMG}) no-repeat center center`"
			to="/shop"
		)

</template>



<script>

	export default {
		name : 'page-home',
		head() {
			return {
				title : 'Foto Home'
			}
		},
		async fetch ({ store, params }) {
			await store.dispatch('home/getHero')
		},
		computed : {
			hero() {
				return this.$store.state.home.hero
			}
		}
	}

</script>



<style lang="stylus" scoped>

</style>
