


<template lang="pug">

	div.page-shop-product(
		class="block p-5"
	)

		div.product-details(
			class="flex w-auto mx-auto pt-6"
		)
			div.product-image(
				class="w-1/2"
			)
				img(
					v-if="product && product.images"
					class="block"
					:src="product.images.edges[0].node.originalSrc"
				)

			div.product-info(
				class="pl-4"
			)

				div.product-title(
					class="block text-4xl -mt-3 -mb-1"
				) {{ product.title }}

				div.product-description(
					class="block text-lg mb-6"
					v-html="product.descriptionHtml"
				)

				div.product-price(
					v-if="product && product.priceRange"
					class="block text-md mb-2"
				) ${{ product.priceRange.maxVariantPrice.amount }}

				button.product-buy-button(
					class="inline-block bg-black text-white mb-2"
					@click="addItemToCart(product.id)"
				)

</template>



<script>

	import gql from 'graphql-tag'

	export default {
		name : 'page-shop-product',
		components : {},
		head() {
			return {
				title : `Foto Shop — ${this.product.title}`,
				description : `${this.product.description}`
			}
		},
		data() {
			return {
				product : {
					title : ''
				}
			}
		},
		apollo : {
			product : {
				query : gql`query GetProductByHandle($handle: String!) {
					productByHandle(handle: $handle) {
						id
						handle
						title
						images(first: 1) {
							edges {
								node {
									id
									originalSrc
								}
							}
						}
						description
						descriptionHtml
						priceRange {
							maxVariantPrice {
								amount
							}
							minVariantPrice {
								amount
							}
						}
						tags
					}
				}`,
				variables() {
					return {
						handle : this.$route.params.productID
					}
				},
				update : data => data.productByHandle
			}
		},
		methods : {
			addItemToCart(itemID) {
				alert(`Add ${itemID} to cart.`)
			}
		}
	}

</script>



<style lang="stylus" scoped>

	.product-details
		max-width 900px

</style>
